@use '../variables' as *;

.wrapper {
  @include flex();
  border-radius: 22px;
  position: relative;
  .text {
    font-size: rem(24px);
    font-weight: 500;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
  }
}

.bot {
  padding: 29px;
  width: 88%;
  justify-content: flex-start;
  min-height: 87px;
  &::after {
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 20px solid #dbf1ff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    bottom: 0;
    left: -19px;
  }
  img {
    position: absolute;
    left: -90px;
    bottom: -30px;
  }
}

.user {
  padding: 10px 29px;
  margin-right: 20px;
  max-width: 88%;
  &::after {
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 20px solid $color-main;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    bottom: 0;
    right: -19px;
  }
}

.loadingDots {
  width: 100%;
  @include flex($gap: 40px);
}

.loadingDot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
  animation: pulse 1.5s infinite ease-in-out;
}

.loadingDot:nth-child(1) {
  animation-delay: 0s;
}
.loadingDot:nth-child(2) {
  animation-delay: 0.3s;
}
.loadingDot:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes pulse {
  0%,
  100% {
    background-color: #a8bcff;
    transform: scale(1);
  }
  50% {
    background-color: $color-main;
    transform: scale(1.3);
  }
}
