@use '../variables' as *;

.wrapper {
  @include flex();
  border-radius: 22px;
  position: relative;
  .text {
    font-size: rem(24px);
    font-weight: 500;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
  }
}

.bot {
  padding: 29px;
  width: 88%;
  justify-content: flex-start;
  &::after {
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 20px solid #dbf1ff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    bottom: 0;
    left: -19px;
  }
  img {
    position: absolute;
    left: -90px;
    bottom: -30px;
  }
}

.user {
  padding: 10px 29px;
  margin-right: 20px;
  max-width: 88%;
  &::after {
    content: '';
    width: 0px;
    height: 0px;
    border-bottom: 20px solid $color-main;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position: absolute;
    bottom: 0;
    right: -19px;
  }
}
