@use '../variables' as *;

.container {
  @include flex();
  width: 100%;
  height: min(114px, 30vh);
  position: fixed;
  background-color: white;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 15%);
  z-index: 10;
  padding: 0 50px;

  .content {
    @include flex($justify-content: space-between);
    width: 100%;
    max-width: calc(1920px - 1024px);
    a {
      @include flex();
    }
    .blank {
      display: flex;
      flex: 1 1 0;
    }
    .rightWrapper {
      flex: 1 1 0;
      @include flex($gap: 52px, $justify-content: flex-end);
      .planButton {
        padding: 10px 27.5px;
        border-radius: 10px;
        box-shadow: 0 0 0 2px $color-main inset;
        background: white;
        text-decoration: none;
        transition: background 0.3s ease;
        span {
          font-size: rem(21px);
          font-weight: 500;
          color: $color-main;
        }
        &:hover {
          cursor: pointer;
          background: rgb(239, 239, 239);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    height: 140px;
    .content {
      flex-direction: column;
      gap: 20px;
    }
  }
}
