@use '../variables' as *;

.container {
  @include flex(column, $justify-content: flex-start);
  padding-top: vh(114px + 82px);

  .content {
    @include flex(column);
    width: vw(1264px);
    background-color: white;
    padding: 0 vw(82px);
    .topSection {
      @include flex(column);
      padding: vh(41px) vw(21px) vh(32px) vw(21px);
      width: 100%;
      border-bottom: 2px dashed #ccc;
      .caption {
        color: #aaa;
        font-size: rem(24px);
        font-weight: 500;
        margin-bottom: vh(14px);
      }
      .headerTitle {
        color: #141319;
        font-size: rem(30px);
        font-weight: 700;
      }
      .newsContent {
        @include flex(column, $gap: vh(38px));
        margin-top: vh(45px - 14px);
        width: 100%;
        .sectionRow {
          @include flex($justify-content: flex-start, $gap: vw(70px));
          width: 100%;
          a,
          span,
          p {
            color: #141319;
            font-size: rem(24px);
            font-weight: 500;
          }
          a {
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .tableSection {
      min-width: 75vw;
    }
    .section {
      @include flex(row, flex-start, flex-start, vw(70px));
      padding: vh(63px) vw(23px);
      width: 100%;
      .summary {
        color: #141319;
        font-size: rem(24px);
        font-weight: 500;
        line-height: 175%;
        position: relative;
        img {
          position: absolute;
          top: 50%;
          right: -50px;
          transform: translateY(-50%);
        }
      }

      table {
        width: 100%;
        font-size: rem(19px);
        text-align: left;
        border-collapse: collapse;
        thead {
          tr {
            background: #dbf1ff;
            margin-bottom: 30px;
            th {
              color: #141319;
              font-weight: 500;
              line-height: 175%;
              padding: vh(8px) vw(35px);
              border-bottom: 12px solid transparent;
            }
          }
        }

        tbody {
          tr {
            td {
              padding: vh(20px) 0 vh(20px) vw(35px);
              min-height: vh(57px);
              color: #949494;
              font-weight: 500;
            }
          }
        }
      }
    }
    .divider {
      width: 100%;
      border-bottom: 2px dashed #ccc;
    }
  }
}

.labelGray {
  @include label(#aaa);
}

.labelBlue {
  @include label($color-main);
}
