// @use './variables' as *; 불러오기
// color: $color-main 사용

// 색상
$color-main: #3a68ff;
$color-sub: #424145;

@mixin flex(
  $direction: row,
  $align-items: center,
  $justify-content: center,
  $gap: null
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $direction;
  gap: $gap;
}

@function rem($size) {
  @return calc($size / 16px * 1rem);
}

@function vw($size) {
  @return calc($size / 1920px * 100vw);
}

@function vh($size) {
  @return calc($size / 1080px * 100vh);
}

@mixin label($background) {
  @include flex();
  color: white;
  font-size: rem(24px);
  max-width: 170px;
  width: 100%;
  padding: 10px;
  background: $background;
}
